/* Reset Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #F6F5F5;
}

/* Container principal */
.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px; /* Espaço entre a sidebar e o conteúdo */
    padding: 20px;
    background-color: #F6F5F5; /* Fundo levemente acinzentado */
}

/* Sidebar */
.sidebar {
    width: 300px;
    background-color: #5B3535;
    color: white;
    padding: 20px;
    min-height: 100vh;
}

.sidebar ul {
    list-style: none;
}

.sidebar .title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 8px 0;
}

.sidebar a:hover {
    text-decoration: underline;
}

/* Conteúdo Principal */
.content {
    flex: 1;
    padding: 60px;
    background-color: #FFFFFF; /* Fundo branco para destaque */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 10px; /* Bordas levemente arredondadas */
    margin: 20px;
}

/* Ajuste no título */
.content h1 {
    color: #5B3535;
    font-size: 26px;
    margin-bottom: 20px;
}

/* Ajuste nos parágrafos */
.content p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

/* Ajuste nas imagens */
.content img {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        min-height: auto;
    }

    .sidebar ul {
        padding: 0;
    }

    .sidebar a {
        padding: 10px;
        display: inline-block;
    }

    .content {
        padding: 20px;
    }
}