
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5e2b2b;
    padding: 10px 30px;
    color: white;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
}


.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

.social-icons a {
    margin-left: 10px;
    color: white;
}

.user-icon {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}

.user-icon i {
    font-size: 1.2rem;
}

.logo-img {
    height: 40px;         /* altura ideal para navbar */
    max-width: 100%;      /* evita que ultrapasse o espaço */
    object-fit: contain;  /* garante que ela fique dentro da caixa */
    display: block;       /* tira espaço extra abaixo da imagem */
}
